<p/>
<b>ABOUT</b>
<p/>
This is a prototype tracker app written by Andy Leak for BAMRU.
<p/>
For more info, contact Andy at 650-823-0836, or andy@r210.com.
<p/>
Please post bugs/issues/feature requests on our <a target="_blank" href="http://github.com/bamru-truck/bamru_truck/issues">issue tracker</a>
<p/>
