<b>ALERT SETTINGS</b>
<table border=1>
  <tr>
    <td>email addresses</td>
    <td><%= @alert_settings.emails %></td>
  </tr>
  <tr>
    <td>timeout threshold (mins)</td>
    <td><%= @alert_settings.timeout %></td>
  </tr>
  <tr>
    <td>max frequency (mins)</td>
    <td><%= @alert_settings.frequency %></td>
  </tr>
</table>
