<% if all_hosts.length == 0 %>
  NO HOST DATA
<% else %>
  <b><a href='/data'>DEVICE DATA</a></b> / <%= @hostname %>
  <table border=1>
    <tr>
      <td>LEFT COL</td>
      <td>
        <iframe src="<%= mapurl(@hostdata) %>">
        </iframe>
      </td>
    </tr>
  </table>
  <a href="<%= mapurl(@hostdata) %>" target="_blank">Gmap Full Screen</a> |
  <a href="/tbd">APRS Position</a>
<% end %>
