<html>
  <head>
    <meta http-equiv="refresh" content="60">
    <style>
      .logo {
        font-weight: bold;
        padding-right: 200px;
      }
    </style>
  </head>
  <body>
    <span class='logo'>TRACKER</span>
    <%= linkto "/data"  , "Data" %> |
    <%= linkto "/alerts", "Alerts" %>
    <hr/>
    <%= yield %>
    <hr/>
    <%= Time.now.strftime("%m-%d %H:%M:%S") %>
  </body>
</html>
