<html>
  <head>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
    <script src="/gpx.js" type="text/javascript"></script>
    <meta http-equiv="refresh" content="60">
    <style>
      .hbox { width: 450px; }
      .bl   { float: left;  text-align: left; }
      .br   { float: right; text-align: right; }
      .logo { font-weight: bold; }
    </style>
  </head>
  <body>
    <div class='hbox'>
      <div class='bl logo'>TRACKER</div>
      <div class='br'><small><%= navlink %></small></div>
      <div style='clear:both;'></div>
    </div>
    <hr/>
    <%= yield %>
    <hr/>
    <div class='hbox'>
      <div class='bl'><%= Time.now.strftime("%m-%d %H:%M:%S") %></div>
      <div class='br'><small>auto-update in <span id='cnt'>60</span> seconds</small></div>
    </div>
    <script>
      window.onload = function() {
        var time   = 60;
        var update = function() { $('#cnt').text(time--) };
        setInterval(update, 1000);
      }
    </script>
  </body>
</html>
