<html>
  <head>
    <meta http-equiv="refresh" content="60">
    <style>
      .logo {
        font-weight: bold;
        padding-right: 300px;
      }
    </style>
  </head>
  <body>
    <span class='logo'>TRACKER</span>
    <%= Time.now.strftime("%m-%d %H:%M:%S") %>
    <hr/>
    <%= yield %>
    <hr/>
  </body>
</html>
