<html>
  <head>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
    <meta http-equiv="refresh" content="60">
    <style>
      .logo {
        font-weight: bold;
        padding-right: 300px;
      }
    </style>
  </head>
  <body>
    <span class='logo'>TRACKER</span>
    <hr/>
    <%= yield %>
    <hr/>
    <%= Time.now.strftime("%m-%d %H:%M:%S") %>
  </body>
</html>
